
  .nav-bar{
    flex-direction: column;
  }
  .nav-bar .logo{
    margin-bottom: 1rem;
  }

  .item-container{
    flex-direction: column;
  }

  .who-img{
    display: none;
  }
  .who-text{
    text-align: center;
  }

  #clients .items {
    display: flex;
    justify-content: space-evenly;
  }

  #contact{
    flex-direction: column;
    text-align:center;
    padding: 0;
  }
  .contact-form h2,
  .contact-form p{
    text-align:center;
  }
  .form-group {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem;
  }
  .form-label {
    display: inline;
    flex:1;
  }
  .form-input {
    padding: 0;
    flex:4;
  }
  
  .contact-form form input {
    margin-top: 0;
    padding: 0.3rem;
    border-radius: 5%;
    width: 50%;
  }
  .contact-form form textarea{
    margin-left: 0.1rem;
  }

  
